<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAJERO BLOQUEADO</title>
    <style>
        body{
            background-color: red;  
              
        }
        .container{
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>CAJERO BLOQUEADO</h1>
    </div>
</body>
</html>