<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta pronto</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <style>
        body {
            background-color: green;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            color:white;
            justify-content: center;
            text-align: center;
            margin: 0 auto;

        }

        p {
            font-style: italic;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>HASTA PRONTO</h1>
        <p>Gracias por utilizar nuestro cajero</p>
    </div>
</body>

</html>